@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  overflow-x: hidden;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: white;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4F7942;
  border-radius: 20px;
  border: 2px solid white;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.button-custom{
  @apply border hover:border-black bg-primary text-white font-bold py-2 px-4 rounded my-2 w-full hover:bg-lime-800 duration-100;
}
.button-custom-alert{
  @apply border hover:border-black bg-red-600 text-white font-bold py-2 px-4 rounded my-2 w-full hover:bg-red-900 duration-100;
}

.form-errors{
  @apply font-semibold text-primary
}