@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  overflow-x: hidden;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: white;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4F7942;
  border-radius: 20px;
  border: 2px solid white;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.container-center-item {
  display: grid;
  place-items: center;
  height: 100vh; /* Opcional: establece la altura según tus necesidades */
}



.button-custom{
  @apply border hover:border-black bg-primary text-white font-bold py-2 px-4 rounded my-2 w-full hover:bg-lime-800 duration-100;
}
.button-custom:disabled{
  border-style: hidden;
  @apply bg-gray-500 
}
.btn-comment{
  width: 170px;
  height: 50px;
}
.button-custom-alert{
  @apply border hover:border-black bg-red-600 text-white font-bold py-2 px-4 rounded my-2 w-full hover:bg-red-900 duration-100;
}

.form-errors{
  @apply font-semibold text-primary
}

.badge-warning{
  @apply bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300;
}

.badge-fail{
  @apply bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400;
}

.badge-success{
  @apply bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400;
}